body {
    color:white;
    background-image: url("../images/space.jfif");
    background-size: cover;
    text-align: center;
}

.btn{
    padding: 6px 12px;
    background: rgb(238, 228, 228);
    border:none;
}